<h1>Create Profile for</h1>

<h3> <%=current_user.username%></h3>

<%= form_with(model: @profile, url: user_profile_path(current_user), method: :post) do |form| %>



  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

   <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
   </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture %>

  <div>
    <%= form.submit 'Create Profile' %>
  </div>
<% end %>
