<div class="flex flex-col items-center">
  <h1 class="text-4xl font-bold mb-6"><%= current_user.username %></h1>
  
  <% if @profile.profile_picture.attached? %>
    <%= image_tag @profile.profile_picture, class: "rounded-full w-48 h-48 mb-6" %>
  <% else %>
    <p>No profile picture available.</p>
  <% end %>
  
  <% if @profile %>
    <div class="text-center">
      <p class="text-lg"><strong>First Name:</strong> <%= @profile.first_name %></p>
      <p class="text-lg"><strong>Last Name:</strong> <%= @profile.last_name %></p>
      <p class="text-lg"><strong>Bio:</strong> <%= @profile.bio %></p>
      
      <%= button_to 'Edit Profile', edit_user_profile_path(user_id: current_user.id), method: :get, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-8' %>
      
      <p class="text-lg mt-6"><strong>My Tab:</strong> $<%= (current_user.house&.total_charge.to_f / current_user.house&.users&.count.to_f).ceil(2) %></p>
      
      <% if @user.house %>
        <p class="text-lg"><strong>My House:</strong> <%= @user.house.name %></p>
      <% else %>
        <p class="text-lg">No house associated.</p>
      <% end %>
    </div>
  <% else %>
    <p>No profile available.</p>
  <% end %>
</div>
