<div class="flex">
  <div class="w-1/2 mr-10">
    <div class="flex flex-col items-center">
      <h1 class="text-4xl font-bold mb-6"><%= current_user.username %></h1>
      
      <% if @profile.profile_picture.attached? %>
        <%= image_tag @profile.profile_picture, class: "rounded-full w-48 h-48 mb-6" %>
      <% else %>
        <p>No profile picture available.</p>
      <% end %>
      
      <% if @profile %>
        <div class="text-center">
          <p class="text-lg"><strong>First Name:</strong> <%= @profile.first_name %></p>
          <p class="text-lg"><strong>Last Name:</strong> <%= @profile.last_name %></p>
          <p class="text-lg"><strong>Bio:</strong> <%= @profile.bio %></p>
          
          <%= button_to 'Edit Profile', edit_user_profile_path(user_id: current_user.id), method: :get, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-8' %>
          
          <p class="text-lg mt-6"><strong>Current Tab:</strong> $<%= current_user.balance&.amount.to_f.ceil(2) %></p>
    
          <% if @user.house %>
            <p class="text-lg"><strong>My House:</strong> <%= @user.house.name %></p>
          <% else %>
            <p class="text-lg">No house associated.</p>
          <% end %>
        </div>
      <% else %>
        <p>No profile available.</p>
      <% end %>
    </div>
  </div>
  
  <div class="w-1/3 px-2">
  <h1 class="text-4xl font-bold mb-6">Previous Payments</h1>
  
  <% if current_user.payments.any? %>
    <ul class="space-y-4">
      <% current_user.payments.each do |payment| %>
        <li class="bg-white rounded-lg shadow-lg p-4">
          <div class="flex items-center justify-between">
            <p class="text-lg">
              <%= payment.created_at.strftime("%B %d, %Y") %>
            </p>
            <p class="text-lg font-bold">$<%= payment.amount %></p>
          </div>
          <% payment.charges.each do |charge| %>
            <p class="text-sm italic text-gray-500">
              <%= charge.name %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No previous payments found.</p>
  <% end %>
</div>

  </div>
</div>
