<!-- app/views/profiles/show.html.erb -->
<h1>User Profile</h1>
<% if @profile %>
  <p><strong>First Name:</strong> <%= @profile.first_name %></p>
  <p><strong>Last Name:</strong> <%= @profile.last_name %></p>
  <p><strong>Bio:</strong> <%= @profile.bio %></p>
  <p><strong>My Tab:</strong> $<%= current_user.house.total_charge.to_f / current_user.house.users.count.to_f %></p>
 <% if @user.house %>
    <p><strong>House Name:</strong> <%= @user.house.name %></p>
  <% else %>
    <p>No house associated.</p>
  <% end %>

  <%= button_to 'Edit Profile', edit_user_profile_path(@profile), method: :get, class: 'button' %>

  <!-- Other profile details -->
<% else %>
  <p>No profile available.</p>
<% end %>
