<% if current_user.nil? %>
  <section class="bg-white text-green-500 py-60" style="margin-top: -150px;">
    <div class="flex justify-center container mx-auto">
      <div class="w-1/2">
        <h1 class="text-5xl font-bold mb-8">Say goodbye to fighting with Roommates...<br><br>Over Splitting The Bill</h1>
        <p class="text-2xl">HouseTabz is the ultimate tool to manage shared expenses. Say goodbye to financial chaos and hello to easy bill splitting.</p>
        <a href="/about" class="btn-primary inline-block px-6 py-3 mt-8 text-lg font-semibold rounded-full bg-green-500 text-white">Learn More</a>
      </div>
      <div class="w-1/2">
        <img src="/images/landing.png" alt="Roommate with a lot of money because he isn't covering the bills.">
      </div>
    </div>
  </section>

  <section class="bg-white text-green-500 py-40 border border-gray-300">
    <div class="container mx-auto">
      <h1 class="text-5xl font-bold mb-8">Easily Track Your Payments and Expenses</h1>
      <p class="text-2xl">With HouseTabz, you can effortlessly manage your shared expenses and stay on top of your payments. Take control of your financial game with our intuitive and user-friendly interface.</p>
      <div class="flex justify-center mt-8">
        <div class="border border-gray-300 rounded-lg p-4 hover:scale-105 transition-transform duration-300">
          <img src="/images/landingpage.png" alt="Application view of the home page" class="w-96 h-auto">
        </div>
        <div class="border border-gray-300 rounded-lg p-4 ml-4 hover:scale-105 transition-transform duration-300">
          <img src="/images/profileview.png" alt="Application view of the User Profile" class="w-96 h-auto">
        </div>
        <div class="border border-gray-300 rounded-lg p-4 ml-4 hover:scale-105 transition-transform duration-300">
          <img src="/images/houseview.png" alt="Application view of the house page" class="w-96 h-auto">
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white text-green-500 py-40 border border-gray-300">
    <div class="flex justify-center container mx-auto">
      <div class="w-1/2">
        <img src="/images/accountability.png" alt="Accountability" class="mx-auto">
      </div>
      <div class="w-1/2 flex justify-start">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold mb-8">Earn Lower Rates, With Accountability</h1>
          <p class="text-2xl">At HouseTabz, we believe in rewarding houses that establish a reputation for paying their bills on time. Through our accountability system, houses with a track record of timely payments enjoy lower transaction fees, saving them money and promoting responsible financial behavior.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white text-green-500 py-40">
    <div class="flex justify-center container mx-auto">
      <div class="w-1/2">
        <h1 class="text-5xl font-bold mb-8">Secure Payment Processing</h1>
        <p class="text-2xl">At HouseTabz, we prioritize the security of your transactions. That's why we partner with Stripe, a leading payment processor trusted by millions worldwide. With Stripe, you can rest assured that your payments are processed securely and your sensitive information is protected.</p>
        <a href="https://stripe.com/" target="_blank" rel="noopener noreferrer" class="btn-primary inline-block px-6 py-3 mt-8 text-lg font-semibold rounded-full bg-green-500 text-white">Stripe</a>
      </div>
      <div class="w-1/2">
        <img src="/images/stripe.png" alt="Stripe Payment Processing" class="mx-auto">
      </div>
    </div>
  </section>

  <footer class="bg-gray-900 text-white py-8">
    <div class="md:w-1/2">
      <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
      <%= form_for @contact, url: contacts_path do |f| %>
        <div class="mb-4">
          <%= f.label :name, class: "block text-lg" %>
          <%= f.text_field :name, class: "block w-full border border-gray-300 px-4 py-2 rounded text-black" %>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: "block text-lg" %>
          <%= f.email_field :email, class: "block w-full border border-gray-300 px-4 py-2 rounded text-black" %>
        </div>
        <div class="mb-4">
          <%= f.label :message, class: "block text-lg" %>
          <%= f.text_area :message, rows: 4, class: "block w-full border border-gray-300 px-4 py-2 rounded text-black" %>
        </div>
        <div class="mb-4">
          <%= f.submit "Submit", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>
  </footer>

<% elsif current_user.profile.nil? %>
  <div class="flex justify-center items-center h-screen">
    <div class="w-1/2 bg-white p-8 shadow-md rounded flex">
      <div class="w-2/3">
        <h1 class="text-3xl font-bold mb-4">Please Create Your Profile</h1>
        <h2 class="text-2xl font-bold mb-4"><%= current_user.username %></h2>

       <%= form_with(model: @profile, url: profiles_path, method: :post, html: { class: 'w-full' }) do |form| %>

          <%= form.hidden_field :user_id, value: current_user.id %>
          <div class="mb-4">
            <%= form.label :first_name, class: 'block font-bold' %>
            <%= form.text_field :first_name, class: 'form-input mt-1' %>
          </div>

          <div class="mb-4">
            <%= form.label :last_name, class: 'block font-bold' %>
            <%= form.text_field :last_name, class: 'form-input mt-1' %>
          </div>

          <div class="mb-4">
            <%= form.label :bio, class: 'block font-bold' %>
            <%= form.text_area :bio, class: 'form-textarea mt-1' %>
          </div>

          <div class="mb-4">
            <%= form.label :profile_picture, class: 'block font-bold' %>
            <%= form.file_field :profile_picture, class: 'form-input mt-1', id: 'profile-picture-input' %>
          </div>

          <div class="text-center">
            <%= form.submit 'Create Profile', class: 'px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700' %>
          </div>
        <% end %>
      </div>

      <div class="w-1/3 flex justify-center items-center">
        <div id="profile-picture-preview"></div>
      </div>
    </div>
  </div>

  <script>
    // Image preview function
    function previewProfilePicture() {
      var preview = document.getElementById('profile-picture-preview');
      var fileInput = document.getElementById('profile-picture-input');

      fileInput.addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function(event) {
          var image = document.createElement('img');
          image.src = event.target.result;
          image.classList.add('w-40', 'h-40', 'object-cover', 'rounded');

          preview.innerHTML = '';
          preview.appendChild(image);
        }

        reader.readAsDataURL(file);
      });
    }

    // Call the preview function
    previewProfilePicture();
  </script>

<% else %>
  <% if current_user.house.nil? %>
    <div class="flex justify-center items-center h-screen">
      <div class="w-1/2 bg-white p-8 shadow-md rounded flex justify-center items-center flex-col">
        <h1 class="text-3xl font-bold mb-4">Not yet a member of a house?</h1>
        <p class="text-lg mb-4">Click here to get started:</p>

        <%= link_to 'Create a House', new_house_path, class: 'btn btn-primary mb-2' %>
        <%= link_to 'Join a House', join_house_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  <% else %>
    <div class="flex justify-center">
      <div class="w-1/2 mt-40">
        <div class="flex">
          <div class="w-1/2">
            <% unpaid_bills_sum = current_user.house.bills.where(status: 'unpaid').sum(:amount) %>
            <h2 class="text-2xl font-bold">
              <strong><%= current_user.house.name %></strong>: $<%= format('%.2f', unpaid_bills_sum.to_f) %>
            </h2>
            <canvas id="donutChart" style="max-width: 300px;"></canvas>
          </div>

          <div class="w-1/2">
            <h2 class="text-2xl font-bold">
              <strong>My Tab:</strong> $
              <% balance = current_user.balance&.amount.to_f.ceil(2) %>
              <% balance = 0 if balance < 0 %>
              <%= format('%.2f', balance.abs) %>
            </h2>
            <canvas id="billsChart" style="max-width: 300px;"></canvas>
          </div>
        </div>

        <div class="flex justify-end mt-4">
          <a href="/checkout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Make Payment
          </a>
        </div>
      </div>
    </div>
    
    <% if @incoming_messages.any? %>
  <div class="mt-8 incoming-messages-box">
    <h2 class="text-2xl font-bold">Incoming Messages:</h2>
    <ul class="messages-list">
      <% @incoming_messages.each do |message| %>
        <li class="message-item">
          <strong class="message-sender">From: <%= message.sender.username %></strong>
          <p class="message-content"><%= message.message %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p class="mt-8">You have no incoming messages.</p>
<% end %>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const donutChartCanvas = document.getElementById('donutChart');
        const billsChartCanvas = document.getElementById('billsChart');

        const houseMembers = <%= current_user.house.users.map { |user| user.profile&.first_name }.to_json.html_safe %>;
        const donutBackgroundColor = <%= current_user.house.users.map { |user| user.paid_status ? 'green' : 'red' }.to_json.html_safe %>;
        const donutData = Array(houseMembers.length).fill(1);

        new Chart(donutChartCanvas, {
          type: 'doughnut',
          data: {
            labels: houseMembers.map((user) => `${user}`),
            datasets: [
              {
                data: donutData,
                backgroundColor: donutBackgroundColor,
              },
            ],
          },
          options: {
            // Customize donut chart options and styling here
          },
        });

        <% if current_user.charges.present? %>
          <% unpaid_charges = current_user.charges.where(status: 'unpaid') %>
          <% if unpaid_charges.any? %>
            <!-- Donut Chart Code Here -->
            const chargeNames = <%= unpaid_charges.pluck(:name).to_json.html_safe %>;
            const chargeAmounts = <%= unpaid_charges.pluck(:amount).to_json.html_safe %>;
            const billChartBackgroundColors = ['blue', 'orange', 'purple']; // Update with appropriate colors
          <% else %>
            <!-- Donut Chart Code Here -->
            const chargeNames = ['You have no current charges!'];
            const chargeAmounts = [100]; // Update with an appropriate value
            const billChartBackgroundColors = ['green']; // Update with an appropriate color
          <% end %>

          new Chart(billsChartCanvas, {
            type: 'doughnut',
            data: {
              labels: chargeNames,
              datasets: [
                {
                  data: chargeAmounts,
                  backgroundColor: billChartBackgroundColors,
                },
              ],
            },
            options: {
              // Customize bills chart options and styling here
            },
          });
        <% end %>
      });
    </script>

  <% end %>
<% end %>
