<div class="flex justify-center items-center h-screen">
  <div class="w-1/2 bg-white p-8 shadow-md rounded">
    <h1 class="text-3xl font-bold mb-4">Create a House</h1>

    <%= form_with model: @house, url: create_house_path, method: :post do |f| %>
      <div class="mb-4">
        <%= f.label :name, class: 'block font-bold' %>
        <%= f.text_field :name, class: 'form-input mt-1' %>
      </div>

      <div class="mb-4">
        <%= f.label :address, class: 'block font-bold' %>
        <%= f.text_field :address, class: 'form-input mt-1' %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: 'block font-bold' %>
        <%= f.text_field :password, class: 'form-input mt-1' %>
      </div>

      <div class="text-center">
        <%= f.submit 'Create House', class: 'px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700' %>
      </div>
    <% end %>
  </div>
</div>
