<% if @user.house %>
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4"><%= @user.house.name %></h1>
  </div>

  <div class="flex justify-center">
    <div class="w-1/2 flex flex-col items-center">
      <h2 class="text-2xl font-bold mb-4">Roommates:</h2>

      <div class="flex flex-col space-y-4">
        <% @user.house.users.each do |user| %>
          <% if user.profile %>
            <div class="bg-white rounded-lg shadow-lg p-4">
              <div class="flex items-center space-x-4 mt-4">
                <% if user.profile.profile_picture.present? %>
                  <%= image_tag user.profile.profile_picture, class: 'w-10 h-10 rounded-full' %>
                <% else %>
                  <%= image_tag 'profilepicplaceholder.png', alt: 'Placeholder Image', class: 'w-10 h-10 rounded-full' %>
                <% end %>
                <p class="text-lg">
                  <%= link_to "#{user.profile.first_name} #{user.profile.last_name}", member_profile_path(user.profile), class: 'text-blue-500' %>
                  <% balance = user.balance&.amount.to_f.ceil(2) %>
                  <% status = user.paid_status ? 'Paid' : 'Unpaid' %>
                  <span class="<%= user.paid_status ? 'text-green-500' : 'text-red-500' %>">(Status: <%= status %>)</span>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="w-1/2 ml-4 mr-4">
      <div class="flex flex-col items-center">
        <div class="bg-white rounded-lg shadow-lg p-4 mb-4 w-[400px]">
          <h2 class="text-2xl font-bold mb-4 hover:text-blue-500 cursor-pointer" onclick="toggleUnpaidBills()">Balance: $<%= format('%.2f', @user.house.bills.select { |bill| bill.status == 'unpaid' && bill.amount.present? }.sum { |bill| bill.amount.to_f }) %></h2>
          <div id="unpaidBillsContainer" class="hidden">
            <% @user.house.bills.select { |bill| bill.status == 'unpaid' }.each do |bill| %>
              <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
                <p class="text-lg">
                  <strong>
                    <a href="javascript:void(0)" class="bill-link hover:text-blue-500" onclick="toggleBillImage(this)">
                      <%= bill.name %>
                    </a>
                  </strong>
                  : $<%= format('%.2f', bill.amount.to_f) %>
                </p>
                <% if bill.bill_image.attached? && bill.bill_image.content_type == 'application/pdf' %>
                  <div class="bill-image-container hidden">
                    <embed src="<%= url_for(bill.bill_image) %>" type="application/pdf" class="bill-image" style="width: 50%;" />
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="flex flex-col space-y-2">
          <h2 class="text-2xl font-bold mb-4">Paid Bills:</h2>
    <% @user.house.paid_bills.group_by { |paid_bill| paid_bill.created_at.strftime("%B") }.each do |month, paid_bills| %>
  <div class="bg-white rounded-lg shadow-lg p-4 mb-4 w-[400px]">
    <h2 class="text-2xl font-bold mb-4 hover:text-blue-500 cursor-pointer" onclick="togglePayments(this)"><%= month %></h2>
    <div class="hidden">
      <% paid_bills.each do |paid_bill| %>
        <% bill = paid_bill.bill %>
        <div class="bg-white rounded-lg shadow-lg p-4 mb-4">
          <p class="text-lg">
            <strong>
              <a href="javascript:void(0)" class="bill-link hover:text-blue-500" onclick="toggleBillImage(this)">
                <%= bill.name %>
              </a>
            </strong>
            : $<%= format('%.2f', bill.amount.to_f) %>
          </p>
          <% if paid_bill.created_at %>
            <p class="text-sm italic text-gray-500">
              Final payment recieved on <%= paid_bill.created_at.strftime("%B %d, %Y") %>
            </p>
          <% end %>
          <% if bill.bill_image.attached? && bill.bill_image.content_type == 'application/pdf' %>
            <div class="bill-image-container hidden">
              <embed src="<%= url_for(bill.bill_image) %>" type="application/pdf" class="bill-image" style="width: 50%;" />
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>



        </div>
      </div>
    </div>
  </div>
    <script>
     function togglePayments(element) {
    const paidBillsContainer = element.nextElementSibling;
    paidBillsContainer.classList.toggle('hidden');
  }

  function toggleUnpaidBills() {
    const unpaidBillsContainer = document.getElementById('unpaidBillsContainer');
    unpaidBillsContainer.classList.toggle('hidden');
  }

  function toggleBillImage(element) {
  const billImageContainer = element.closest('.bg-white').querySelector('.bill-image-container');
  if (billImageContainer) {
    billImageContainer.classList.toggle('hidden');
  }
}

  function displayBillImage(element) {
    const billImageContainer = element.parentNode.nextElementSibling.querySelector('.bill-image-container');
    if (billImageContainer) {
      billImageContainer.classList.remove('hidden');
    }
  }
  </script>
<% else %>
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4">Not yet a member of a house?</h1>
    <%= button_to 'Create House', create_house_path, method: :post, class: 'button' %>
  </div>
<% end %>


