<% if @user.house %>
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4"><%= @user.house.name %></h1>
    
    <div class="flex justify-center">
      <div class="w-1/2">
        <h2 class="text-2xl font-bold">Roommates:</h2>
    
        <% @user.house.users.each do |user| %>
          <% if user.profile %>
            <p class="text-lg"><%= link_to "#{user.profile.first_name} #{user.profile.last_name}", member_profile_path(user.profile), class: 'text-blue-500' %></p>
          <% end %>
        <% end %>
      </div>
    
      <div class="w-1/2">
        <h2 class="text-2xl font-bold">Our Tabz: $<%= @user.house.total_charge.to_f.ceil(2) %></h2>
        <% @user.house.bills.each do |bill| %>
          <p class="text-lg"><strong><%= bill.name %>:</strong> $<%= bill.amount.to_f.ceil(2) %></p>
        <% end %>
      </div>
    </div>
  </div>
  
<% else %>
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4">Not yet a member of a house?</h1>
    <%= button_to 'Create House', create_house_path, method: :post, class: 'button' %>
  </div>
<% end %>
