<nav class="flex items-center justify-between py-4 px-6 bg-gray-200">
  <div>
    <%= link_to 'HouseTabz', root_path, class: 'text-xl font-bold text-gray-800' %>
  </div>

  <% if user_signed_in? %>
    <ul class="flex items-center space-x-4">
      <li><%= link_to 'Profile', user_profile_path(current_user), class: 'text-gray-800' %></li>
  <% if current_user.house %>
    <li><%= link_to 'My House', user_house_path(current_user, current_user.house), class: 'text-gray-800' %></li>
  <% else %>
    <li><%= link_to 'My House', new_house_path, class: 'text-gray-800' %></li>
  <% end %>


      <li><%= button_to 'Log out', destroy_user_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul class="flex items-center space-x-4">
      <li><%= link_to 'Sign Up', new_user_registration_path, class: 'text-gray-800' %></li>
      <li><%= link_to 'Login', new_user_session_path, class: 'text-gray-800' %></li>
    </ul>
  <% end %>
</nav>
