<nav class="sticky top-0 flex items-center justify-between py-4 px-6 w-full <%= current_user ? 'bg-white' : 'bg-slate-950' %>">
  <div class="name">
    <%= link_to 'HouseTabz', root_path, class: "#{current_user ? 'text-green-500' : 'text-white-800'} text-xl font-bold" %>
  </div>

  <% if current_user %>
    <div class="nav-links">
  <ul class="flex items-center space-x-4 px-6">
    <% if current_user.profile %>
      <li><%= link_to 'Profile', user_profile_path(current_user), class: "#{current_user ? 'text-green-500' : 'text-white'} font-bold nav-link" %></li>
    <% else %>
      <li><%= link_to 'Profile', new_user_profile_path(current_user), class: "#{current_user ? 'text-green-500' : 'text-white'} font-bold nav-link" %></li>
    <% end %>

    <% if current_user.house %>
      <li><%= link_to 'My House', user_house_path(current_user, current_user.house), class: "#{current_user ? 'text-green-500' : 'text-white'} font-bold nav-link" %></li>
    <% else %>
      <li><%= link_to 'My House', house_options_path, class: "#{current_user ? 'text-green-500' : 'text-white'} font-bold nav-link" %></li>
    <% end %>

   <li class="user-initials" id="userInitials">
  <!-- Replace the next line with your logic to display the user's initials -->
  <%= "#{current_user.profile.first_name&.chr || ''}#{current_user.profile.last_name&.chr || ''}".upcase %>
  <ul class="dropdown-menu" id="dropdownMenu">
    <li><%= link_to 'Messages', notifications_show_path, class: 'text-white font-bold nav-link' %></li>
    
    <li>
      <%= form_tag destroy_user_session_path, method: :delete, class: "logout-form" do %>
        <%= submit_tag 'Logout', class: 'btn-logout', style: 'color: rgb(34 197 94);; font-weight: bold; padding: 0; margin: 0;' %>
      <% end %>
    </li>
  </ul>
</li>
  </ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const userInitials = document.getElementById('userInitials');
    const dropdownMenu = document.getElementById('dropdownMenu');

    userInitials.addEventListener('mouseover', () => {
      dropdownMenu.style.display = 'block';
    });

    userInitials.addEventListener('mouseout', () => {
      dropdownMenu.style.display = 'none';
    });
  });
</script>

  <% else %>
    <ul class="flex items-center space-x-4">
      <li><%= link_to 'Sign Up', new_user_registration_path, class: "#{current_user ? 'text-green-500' : 'text-white'} font-bold" %></li>
      <li><%= link_to 'Login', new_user_session_path, class: "#{current_user ? 'text-green-500' : 'text-white'} font-bold" %></li>
    </ul>
  <% end %>
</nav>
